*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero_section{
    background: url(../../assets/herobg.gif);
    background-size: cover;
    background-position: center;
}

.overlay_div{
    background-image: radial-gradient(at top center, #0A011880 10%, #0A0118 85%);
    /* background-color: red; */
}

.nav_section{
    border-bottom: 1px solid rgba(128, 128, 128, 0.098);
}

.about_img_div{
    /* background-color: red; */
    border: 1px solid rgba(128, 128, 128, 0.318);
}




/* ------------DIGITAL EXCELLENCE--------------------- */
#digital_first_block{
    content: '';
    height : 100%;
    width: 100%;
    position: absolute;
    top : 0;
    left : 0;
    background-image: radial-gradient(at top center, #0A011880 10%, #0A0118 85%);
    z-index: 3;
}




/* -------------------DIGITAL EXCELLENCE ---------------------- */
.digital_div::after{
    content: '';
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background: linear-gradient(to top, #0a0118da, #0a011811);
    z-index: 1;
}


#step_img_div{
    background: rgba( 255, 255, 255, 0.05 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    /* border-radius: 10px; */
}